<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css"/>
    <title>Vue Todo</title>
  </head>
  <body>
    <div id="app">
      <h1>Grocery List!</h1>
      <p>Assign a priority to your item, 1 for unfrozen, 2 for frozen</p>
      <p v-show="activeItems.length === 0">You are done with all your tasks! Good job!</p>
      <form v-on:submit.prevent="addItem">
      	<input type="text" v-model="text">
        <input type="number" v-model="priority" min="1" max="2" placeholder="frozen/unfrozen">
      	<button type="submit">Add</button>
      </form>
      <div class="controls">
    	<button v-on:click="showAll()">Show All</button>
    	<button v-on:click="showActive()">Show Yet-to-be Purchased</button>
    	<button v-on:click="showCompleted()">Show Purchased</button>
    	<button v-on:click="deleteCompleted()">Delete Purchased</button>
      <button v-on:click="sortPriority()">Sort Priority</button>
      </div>
      <ul>
      	<li v-for="item in filteredItems" draggable="true" v-on:dragstart="dragItem(item)" v-on:dragover.prevent v-on:drop="dropItem(item)">
      	  <input type="checkbox" v-model="item.completed" v-on:click="completeItem(item)" /><label v-bind:class="{ completed: item.completed }">{{ item.text }} -- {{ item.priority }}</label><button v-on:click="upPriority(item)" class="delete">Up</button><button v-on:click="downPriority(item)" class="delete">Down</button><button v-on:click="deleteItem(item)" class="delete">X</button>
      	</li>
      </ul>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js" integrity="sha256-mpnrJ5DpEZZkwkE1ZgkEQQJW/46CSEh/STrZKOB/qoM=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.js" integrity="sha256-pU9euBaEcVl8Gtg+FRYCtin2vKLN8sx5/4npZDmY2VA=" crossorigin="anonymous"></script>
    <script src="/script.js"></script>

    <footer>
    <!--Github footer-->
    <p style="position: fixed; bottom: 0; width:100%; text-align: center">
      <a href="https://github.com/BYU-CS260-Winter-2018/lab-4-mastings" style="text-decoration:none">
        Github
      </a>
    </p>
  </footer>

  </body>
</html>
